name: flutter_lyric
description: A music lyric reader that supports highlight, translation lyrics, smooth animation, custom UI & parsing.
version: 3.0.0+1
homepage: https://github.com/ozyl/flutter_lyric
email: zylvip@163.com

environment:
  sdk: '>=2.12.0 <4.0.0'
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter: