name: flutter_lyric
description: A music lyric reader that supports highlight, translation lyrics, smooth animation, custom UI & parsing.
version: 2.0.4+3
homepage: https://github.com/ozyl/flutter_lyric
email: zylvip@163.com

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  collection: ^1.15.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
